 <!DOCTYPE html>
<html lang="en"><head>
 <meta charset="utf-8">
    <title>Webpage</title>
	
    <script src="{{ url_for('static', filename='lib/mootools-core-1.5.1-full-compat-yc.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/mootools-more-1.5.1-yc.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/contrib/ace/ace.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/contrib/ace/mode-c_cpp.js') }}"></script>
    <link href="/static/css/tempstyle.css" rel="stylesheet" media="screen">
    <link href="/static/css/video.css" rel="stylesheet" media="screen">
    <link href="/static/css/fullscreen.css" rel="stylesheet" media="screen"> 
    <link href="/static/css/video-quality-selector.css" rel="stylesheet" media="screen">
    <!-- <script src="{{ url_for('static', filename='lib/contrib/ace/theme-monkai.js') }}"></script> -->
    <script src="{{ url_for('static', filename='js/tempscript.js') }}"></script>
    <script src="{{ url_for('static', filename='js/video.js') }}"></script>
    <script src="{{ url_for('static', filename='js/videojs-ie8.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/video-quality-selector.js') }}"></script>
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      $CSRF_TOKEN = "{{ csrf_token() }}";
      $USER_ID = "{{ user_id }}";
    </script>

</head>
<body>


    <div id="main_app" class="main_app" style="width:800px;  margin: 0; padding:0px; ">
    	
       <div class="content-box-header"><!--Начало блока "content-box-header"-->
			<div class="panel-title"><!--Начало блока "panel-title"-->
        			<ul class="nav nav-tabs"><!--Начало блока  "tabs" -->
            		
<ul class="dropdown">
 <li class="dropdown-top">
 <a class="dropdown-top" style="cursor:pointer"><img src="{{ url_for('static', filename='img/logo.png') }}" style="vertical-align:middle;"></a>
 <ul class="dropdown-inside">
 <li><a href="/">Описание</a></li>
 <li><a href="/">Расписание</a></li>
 <li><a href="/">О стенде</a></li>
 <li><a href="/">О проекте</a></li>

 </ul>
 </li>

						<a href="#" class="button white" style="text-decoration: none" id="checkButton" title="Проверка кода"><img src="{{ url_for('static', filename='img/check.png') }}" style="vertical-align:middle"></a>
                
                    	<a href="#" class="button white" style="text-decoration: none" id="loadButton" title="Загрузка кода"><img src="{{ url_for('static', filename='img/arrow.png') }}" style="vertical-align:middle"></a>
                    
						<a href="#" class="button white" style="text-decoration: none" id="backlightButton" title="Подсветка"><img src="{{ url_for('static', filename='img/bulb.png') }}" style="vertical-align:middle"></a>
                
                    	<a href="#" class="button white" style="text-decoration: none" id="laserButton" title="Лазер"><img src="{{ url_for('static', filename='img/laser.jpg') }}" style="vertical-align:middle"></a>

            <a href="#" class="button white" style="text-decoration: none" id="videoButton" title="Смена плеера"><img src="{{ url_for('static', filename='img/check.png') }}" style="vertical-align:middle"></a>
                    
<!--                 		<a href="#" class="button white" style="text-decoration: none" id="retrieveButton" title="Скачать программу"><img src="{{ url_for('static', filename='img/upload.png') }}" style="vertical-align:middle"></a>     
                
                    	<a href="#" class="button white" style="text-decoration: none" id="submitButton" title="Загрузить программу"><img src="{{ url_for('static', filename='img/download.png') }}" style="vertical-align:middle"></a> -->
                              
			 {{ exampleSelect.exSel2(class_="styled-select green rounded") }}

            	        <a href="#" class="button white" style="text-decoration: none" id="fullscreen" title="Развернуть"><img src="{{ url_for('static', filename='img/fullscreen.png') }}" style="vertical-align:middle"></a>          	
			
			</ul><!--Конец блока "tabs"-->
			
			</div><!--Конец блока "panel-title"-->
                    
            	            						 	                                                           
    	</div><!--Конец блока "content-box-header"-->
                    
       <div class="content-box" ><!--Начало блока "content-box"-->
       
			<div  style=" width:100%; height:100%; float:left;"><!--Начало объединяющего блока-->
			
				<div id="for_video" class="for_video" style="float:left;"><!--Начало блока "for_video"-->


	<video id="my-video" class="video-js vjs-default-skin" controls autoplay="autoplay" data-setup='{ "plugins" : { "resolutionSelector" : { "default_res" : "576" } } }'>                                   
	 

		<source src="http://109.123.138.152:8080/ogg" type="video/ogg" data-res="576"/> 
		<source src="http://109.123.138.152:8080/ogg-360p" type="video/ogg" data-res="360"/>

                                     
		 <p class="vjs-no-js">                                                                        
		 To view this video please enable JavaScript, and consider upgrading to a web browser that    
		 <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>   
		 </p>                                                                                         
	</video>                                                                                              

	                              	</div><!--Конец блока "for_video"-->


  
					<div class="editor" id="editor"></div>
                                       <div id="progress" class="progress"></div>   
			
 	                          
                      	
                      		
                      		
			</div> <!--Конец объединяющего блока -->
		                                                   			     
		</div><!--Конец блока "content-box"-->

	</div>

<!--<img src="http://109.123.138.152:8080/mpjpeg" alt="image">-->
			<ul id="errorsList"></ul>  
</br>
</br>
</br>
</br>
</br>

<iframe src="https://calendar.google.com/calendar/embed?title=%D0%9A%D0%B0%D0%BB%D0%B5%D0%BD%D0%B4%D0%B0%D1%80%D1%8C%20%D0%B7%D0%B0%D1%80%D0%B5%D0%B7%D0%B5%D1%80%D0%B2%D0%B8%D1%80%D0%BE%D0%B2%D0%B0%D0%BD%D0%BD%D0%BE%D0%B9%20%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D1%8B%20%D1%81%D1%82%D0%B5%D0%BD%D0%B4%D0%B0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;mode=WEEK&amp;height=600&amp;wkst=2&amp;hl=ru&amp;bgcolor=%23FFFFFF&amp;src=h35rg8ljcle23h1s2to16b9g2k%40group.calendar.google.com&amp;color=%231B887A&amp;ctz=Asia%2FOmsk" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

</body></html>
